@use "@/app/variables";

.label {
  width: 100%;
  .labelChildren {
    width: 100%;
  }

  .textInput {
    width: 100%;
  }
}

.checkboxLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;

  .checkbox {
    width: 20px;
    cursor: pointer;
  }

  .checkboxChildren {
    width: auto;
  }
}
